header {
  background: #323232;
  height: 48px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

nav {
  display: flex;
  width: 70%;
  justify-content:space-between;
  align-items: center;
}

.subnav {
  height: 120px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
}

.mac {
  background: #141414;
  color: white;
}

.ipad {
  background: #f6f6f6;
  color: #141414;
}

.watch {
  background: white;
  color: #141414;
}

